<article class="listing">
  <img src="{{perro.image}}" alt="">
  <h3>  {{perro.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span>{{perro.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{perro.city}}
  </div>
</article>

{{yield}}
